services:
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile.dev
    container_name: ecommerce-backend-dev
    restart: unless-stopped
    environment:
      - NODE_ENV=development
      - PORT=${BACKEND_PORT}
      - MONGO_URI=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongodb:27017/${MONGO_DATABASE}?authSource=admin
      - MONGO_DATABASE=${MONGO_DATABASE}
    volumes:
      - ../backend/src:/app/src
      - /app/node_modules
    depends_on:
      mongo:
        condition: service_healthy
    networks:
      - ecommerce-network
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:${GATEWAY_PORT}/api/health",
        ]
      interval: 60s
      timeout: 10s
      retries: 3

  gateway:
    build:
      context: ../gateway
      dockerfile: Dockerfile.dev
    container_name: ecommerce-gateway-dev
    restart: unless-stopped
    ports:
      - "${GATEWAY_PORT}:${GATEWAY_PORT}"
    environment:
      - NODE_ENV=development
      - PORT=${GATEWAY_PORT}
      - BACKEND_URL=http://backend:${BACKEND_PORT}
    volumes:
      - ../gateway/src:/app/src
      - /app/node_modules
    depends_on:
      backend:
        condition: service_healthy
    networks:
      - ecommerce-network
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:${GATEWAY_PORT}/health",
        ]
      interval: 60s
      timeout: 10s
      retries: 3

  mongo:
    image: mongo:7.0
    container_name: ecommerce-mongodb-dev
    restart: unless-stopped
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGO_DATABASE}
    volumes:
      - mongodb_data_dev:/data/db
    networks:
      - ecommerce-network
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 60s
      timeout: 10s
      retries: 3

networks:
  ecommerce-network:
    driver: bridge

volumes:
  mongodb_data_dev:
